<div class="activities-wrapper">
  <div class="activity-card-glass" *ngFor="let item of activities">
  
    <div class="game-cover-wrapper">
      <img [src]="item.game.coverUrl" class="game-cover" [routerLink]="['/game', item.game.rawgId]">
      
      <div class="rating-badge" *ngIf="item.ratingForBadge || item.type === 'RATED'">
        {{ item.ratingForBadge || item.detail }}
      </div>
    </div>

    <div class="activity-body">
      <div class="activity-info">
        <p class="activity-text">
          <span class="user-link" [routerLink]="['/profile', item.user.id]">{{ item.user.name }}</span>
          
          <span class="action-tag">
            {{ hasAction(item, 'ADDED_TO_LIST') ? 'adicionou à biblioteca' : getActionText(item.type) }}
          </span>

          <span class="game-link" [routerLink]="['/game', item.game.rawgId]">{{ item.game.title }}</span>
        </p>

        <div class="combo-details">
          <span class="mini-tag status" *ngIf="hasAction(item, 'CHANGED_STATUS')">
            {{ formatStatus(getActionDetail(item, 'CHANGED_STATUS')) }}
          </span>
          
          <span class="mini-tag review" *ngIf="item.fullReview || hasAction(item, 'REVIEWED')">
            <span class="fa-solid fa-file-lines"></span> Review
          </span>
        </div>

        <div class="post-review-content" *ngIf="item.fullReview">
          <p class="review-text-bubble">"{{ item.fullReview }}"</p>
        </div>

        <span class="activity-time">{{ item.timestamp | date:'dd MMM • HH:mm' }}</span>
      </div>

      <div class="activity-actions">
        <button class="action-btn" [class.active-like]="isLikedByMe(item)" (click)="toggleLike(item)">
          <span class="icon">
            <span [className]="isLikedByMe(item) ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"></span>
          </span>
          <span class="count">{{ item.likes?.length || 0 }}</span>
        </button>

        <button class="action-btn" (click)="toggleComments(item)">
          <span class="icon">
            <span class="fa-solid fa-comment"></span>
          </span>
          <span class="count">{{ item.comments?.length || 0 }}</span>
        </button>
      </div>

      <div class="comments-container" *ngIf="item.showComments">
        <div class="comments-list">
          <div class="comment-bubble" *ngFor="let c of item.comments">
            <strong>{{ c.user.name }}</strong> {{ c.text }}
          </div>
        </div>
        <div class="comment-input-box">
          <input #ipt type="text" placeholder="Adicionar comentário..." (keyup.enter)="enviarComentario(item, ipt)">
          <button (click)="enviarComentario(item, ipt)">
            <span class="fa-solid fa-paper-plane"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>