.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #6200ea; /* Roxo Angular Material */
  color: white;
  border: none;
  cursor: pointer;
}

.register-link {
  margin-top: 15px;
  font-size: 14px;
}

.register-link a {
  margin-left: 5px;
  color: #6200ea;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}