<div class="login-container">
  <button class="btn-close" (click)="router.navigate(['/'])" aria-label="Voltar para a página inicial">
    <span class="fa-solid fa-xmark"></span>
  </button>
  <h2 class="brand-logo" (click)="router.navigate(['/'])">MyGameList</h2>
  <span class="subtitle">Faça login para gerenciar seus jogos</span>
  
  <div class="form-group">
    <label for="email">Email</label>
    <input 
      id="email" 
      type="email" 
      [(ngModel)]="email" 
      placeholder="exemplo@email.com"
      [disabled]="isLoading"
      (input)="errorMessage = ''"
      (keyup.enter)="onLogin()">
  </div>

  <div class="form-group">
    <label for="password">Senha</label>
    <input 
      id="password" 
      type="password" 
      [(ngModel)]="password" 
      placeholder="Sua senha secreta"
      [disabled]="isLoading"
      (input)="errorMessage = ''"
      (keyup.enter)="onLogin()">

      <div class="forgot-password-link">
        <a (click)="!isLoading && router.navigate(['/forgot-password'])">Esqueci minha senha</a>
      </div>
  </div>

  <div class="msg-error" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <button class="btn-submit" (click)="onLogin()" [disabled]="isLoading" [class.btn-loading]="isLoading">
    <div class="spinner-mini" *ngIf="isLoading"></div>
    <span>{{ isLoading ? 'Entrando...' : 'Entrar' }}</span>
  </button>

  <div class="register-link">
    <span>Novo por aqui?</span>
    <a (click)="!isLoading && goToRegister()">Crie sua conta</a>
  </div>
</div>